@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* Style for form container */
body {
    font-family: 'Raleway', sans-serif;
    margin: 50px;
}

.form-container button {
    font-family: 'Roboto Slab', serif;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container h2{
    text-align: center;
}
/* Style for form groups */
.form-group {
    margin-bottom: 10px;
}

/* Style for password input field and toggle button */
.password-input {
    position: relative;
}

.password-input input[type="password"] {
    padding-right: 30px; /* Adjust padding to accommodate the button */
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}
